<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.namewta.oidc.mapper.OidcAuthorizationMapper">
    <delete id="purgeExpired">
        DELETE FROM oidc_authorization WHERE expires_at &lt; #{cutoff}
          AND (session_closed=1 OR id_token_hash IS NULL)
        ORDER BY expires_at LIMIT #{limit}
    </delete>
</mapper>
